@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Halant";
  src: url("./fonts/Halant.ttf");
  font-display: swap;
}
*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  border: none;
  outline: none;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  border-radius: 900px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 90px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 90px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
body {
  overflow-x: hidden;
  background-color: $background-color;
}
