// COLORS
$text-color: #100803;
$hightlight-color: #0aec6c;
$button-color: #dc342a;
$button-hover-color: #b22d23;
$button-disabled-color: #a55650;
$button-text-color: #fff;
$background-color: #f5f5dc;
$white: #fff;
$error-color: #ff0000;
$error-background-color: #ffcccc;
